<!-- Reusable Floating Capsule Bottom Navigation Component -->
<div class="bottom-nav">
  <a href="08-trang-chu-nong-dan.html" class="nav-item active">
    <i class="fa-solid fa-house"></i>
    <span>Trang chủ</span>
  </a>
  <a href="14-danh-sach-tro-chuyen.html" class="nav-item">
    <i class="fa-regular fa-comment-dots"></i>
    <span>Trò chuyện</span>
  </a>
  <a href="10-thong-bao.html" class="nav-item">
    <i class="fa-regular fa-bell"></i>
    <span>Thông Báo</span>
  </a>
  <a href="13-ca-nhan.html" class="nav-item">
    <i class="fa-regular fa-user"></i>
    <span>Cá nhân</span>
  </a>
</div>
